/* //<!-- Nama : Radot Yohanes Nababan -->
//<!-- NIM : 121140108 -->
// <!-- Kelas : RB --> */
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(2, 7, 11, 0.14);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    margin: 0;
}

.judul{
    display: inline;
    margin-right: 30px;
    margin-left: 0;
}
.calculator{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.562);
    text-align: center;
    color: white;
    padding: 20px;
}
.tombols{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

input[type="text"]{
    border-radius: 15px;
    width: 350px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    border: 1px solid black;
    background-color: rgb(42, 207, 39);
    color: #280404;
    text-align: right;
}

.tombol,.tombol_sd,.tombol_hapus{
    width: 100%;
    padding: 15px;
    font-size: 20px;
    background-color: rgb(23, 68, 9);
    color: antiquewhite;
    cursor:pointer;
    transition: background-color 0.2s;
    border-radius: 4px;
}

.tombol_hapus{
    background-color: rgb(202, 113, 113);
    color: rgb(4, 23, 4);
    font-weight: bolder;

}

.tombol_sd{
    background-color: rgb(113, 127, 202);
    color: rgb(4, 23, 4);
    font-weight: bolder;

}

.tombol:hover{
    background-color:whitesmoke;
    color: green;
    font-weight: bolder;
}

.tombol_sd:hover{
    background-color: rgb(37, 56, 163);
    color: rgb(243, 243, 243);
    font-weight: bolder;
}
.tombol_hapus:hover{
    background-color: rgb(103, 12, 12);
    color: rgb(254, 254, 254);
    font-weight: bolder;

}
